<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <html rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <head rel="stylesheet" href="/css/style.css">
        <title>Todo list</title>
    </head>

    <body>
        {{> _navbar}}

        <div class="container">
            {{> _msg}} {{> _errors}} {{{body}}}
        </div>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    </body>

    </html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>About Page</title>
    <style>
        .jumbotron {
            padding: 20px 0 40px 0;
            margin-bottom: 20px;
        }
        
        h1 {
            font-weight: 200;
            margin-bottom: 5px;
        }
        
        .lead {
            padding-bottom: 20px;
        }
    </style>
    <%- include('../partials/head');  %>
</head>

<body class="container">
    <header>
        <%- include('../partials/header') ;%>
    </header>
    <main>
        <!-- <div class="row">
            <div class="col-sm-8">
                <div class="jumbotron jumbotron-fluid bg-light mt-10">
                    <div class="container-fluid">
                        <div class="jumbotron text-center">

                            <h1>TASKS APP</h1>
                            <p>A CRUD NODEJS APPLICATION</p>
                            <p>The application is a todo list with the deadline date specified. </p>
                            <p>It allows the user to add, remove and update the tasks so that the user can complete the todolist.</p>
                            <p>It allows the user to mark when the tasks are completed</p>
                            <p class="lead"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="container">
            <% if (<%= success_msg%>) {%>

                <div class="alert alert-success">
                    <%=  success_msg%>
                </div>
                <%}%>

                    <% if (<%= error_msg%>) {%>

                        <div class="alert alert-danger">
                            <%= error_msg%>
                        </div>
                        <%}%>
                            {{{body}}}
        </div>

    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>